@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        @apply font-popins;
    }
}

@layer utilities{
    .primary-btn{
        background-color: #293FCC;
        padding:10px 40px;
        border-radius: 8px;
        color: white;
    }
}